#Features{
    padding: 100px 0;
}
.caption{
    font-size: 13px;
    color: #407BFF;
    text-transform: uppercase;
    font-weight: 700;
}
.heading{
    font-size: 38px;
    margin: 0 0 24px;
}
.author-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}