.read-more-arrow {
    transition: all .2s ease !important;
}

.read-more-arrow:hover {
    background-color: #407bff !important;
}

.read-more-arrow svg:hover {
    margin-left: 20px;
}

.read-more-arrow svg {
    color: #000 !important;
    transition: all .2s ease !important;
}


.floating-card {
    transition: all .2s ease !important;
}

.floating-card:hover {
    margin-top: -10px;
}

.about-a-hover:hover{
    color: #407bff !important;
}

.bg-1{
    background-color: #f8f9fa ;
}

.arrow-size{
    width: 30px;
    height: 30px;
}

.f-28{
    font-size: 28px;
}
.f-38{
    font-size: 38px;
}