mark {
    background-color: #f2f6ff !important;
}

.f-40px-400w {
    font: 400 40px system-ui !important;
}

@property --num {
    syntax: "<integer>";
    initial-value: 59;
    inherits: false;
}

.counter {
    animation: counter 5s ease-in-out;
    counter-reset: num var(--num);
    font: 400 40px system-ui;
}

.counter::after {
    content: counter(num);
}

@keyframes counter {
    from {
        --num: 1;
    }

    to {
        --num: 59;
    }
}

@property --num2 {
    syntax: "<integer>";
    initial-value: 14;
    inherits: false;
}

.counter2 {
    animation: counter2 5s ease-in-out;
    counter-reset: num2 var(--num2);
    font: 400 40px system-ui;
}
#About:hover .counter2, #About:hover .counter{
    animation: none; /* Pause the animation on hover */
}
.counter2::after {
    content: counter(num2);
}

@keyframes counter2 {
    from {
        --num2: 1;
    }

    to {
        --num2: 14;
    }
}