@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.cmn-btn{
padding: 15px 30px !important;
background-color: #5489FF;
border-radius: 30px !important;
font-size: 11px !important;
text-transform: uppercase !important;
font-weight: 700 !important;
letter-spacing: .05rem !important;
margin-right: 10px ;
text-decoration: none !important;
}
a{
    text-decoration: none;
    color:#111;
}

.icon-instagram,.icon-facebook,.icon-twitter, .icon-linkedin, .icon-pinterest, .icon-dribbble{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background-color: #777777;
    color: #eee;
    border-radius: 50%;
}
.containter-fluid{
    font-size: 14px;
    font-family: Nunito, sans-serif;
}

.stick::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "\2713";
    font-size: 20px;
    color: #4085ff;
}

.container-spacing{
    padding: 100px 0 !important;
}
.container-spacing2{
    padding: 70px 0 !important;
}

/* footer.css */
 #Footer h3{
    font-size: 16px !important;
    color: #000 !important;
}
#Footer, #Footer li a{
    font-size: 14px !important;
    color: #888 !important;
}

/* Moblie Responsive */
@media (max-width:768px) {
    .container-spacing{
        padding: 50px 0 !important;
    }
}

.f-18{
    font-size: 18px !important;
}