.border-remove {
    border: none !important;
    outline: none !important;
    background:transparent !important;
    border-radius: 0 !important;
    border-bottom: 1px #43434d solid !important;
    transition: border-color .15s ease-in-out !important;
}

.border-remove:focus {
    border-color: #407bff !important;
}
