.icon-instagram, .icon-facebook, .icon-twitter, .icon-linkedin, .icon-pinterest, .icon-dribbble {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    background-color: #777777;
    color: #eee;
    border-radius: 50%;
}