.hero-heading {
    font-size: 70px;
    line-height: 1;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}

.pt-8per {
    padding-top: 8%;
}

/* Mobile Size Fix */
@media (max-width:1024px) {
    .hero-heading {
        font-size: 50px !important;
        text-align: center !important;
    }
}