#Pricing{
    background-color: #f8f9fa;
}
.service-icon1{
    background-color: #6fe7dd;
}
.service-icon2{
    background-color: #ffc93c;
}
.service-icon3{
    background-color: #f73859;
}
.service-icon4{
    background-color: #407bff;
}



.bf-br40{
    background-color: #fff;
    border-radius: 40px;
}

.text-c1{
    color: #407bff;
}