#Pricing{
    background-color: #f8f9fa;
}
.service-icon1{
    background-color: #6fe7dd;
}
.service-icon2{
    background-color: #ffc93c;
}
.service-icon3{
    background-color: #f73859;
}
.service-icon4{
    background-color: #407bff;
}

.f-20{
    font-size: 20px;
}

.f-30{
    font-size: 30px;
}

.f-40{
    font-size: 40px;
}

.bf-br40{
    background-color: #fff;
    border-radius: 40px;
}