#Pricing{
    background-color: #939393;
}
.service-icon1{
    background-color: #6fe7dd;
}
.service-icon2{
    background-color: #ffc93c;
}
.service-icon3{
    background-color: #f73859;
}
.service-icon4{
    background-color: #407bff;
}